{% extends "base.html" %}

{% block site_meta %}
        <meta charset="utf-8" />
  {% block dnsprefetch %}
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous" />
      {% if config.repo_url and config.repo_show %}
        <link rel="preconnect" href="https://api.github.com" crossorigin="anonymous" />
      {% endif %}
  {% endblock %}
      {% if page.meta and page.meta.description %}
        <meta name="description" content="{{ page.meta.description }}" />
      {% elif config.site_description %}
        <meta name="description" content="{{ config.site_description }}" />
      {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
      {% if page.meta and page.meta.robots %}
        <meta name="CCBot" content="nofollow" />
        <meta name="robots" content="noai, noimageai, notrain, noarchive, noimageindex, max-snippet:-1, max-image-preview:-1, max-video-preview:-1, {{ page.meta.robots }}" />
      {% else %}
        <meta name="CCBot" content="nofollow" />
        <meta name="robots" content="noai, noimageai, notrain, noarchive, noimageindex, max-snippet:-1, max-image-preview:-1, max-video-preview:-1" />
      {% endif %}
        <meta name="tdm-reservation" content="1" />
        <meta name="format-detection" content="telephone=no" />
      {% if page.meta and page.meta.author and page.meta.author.name and page.meta.author.url and page.meta.author.email %}
        <meta name="author" content="{"email": "{{ page.meta.author.email }}", "name": "{{ page.meta.author.name }}", "url": "{{ page.meta.author.url }}"}" />
      {% elif page.meta and page.meta.author and page.meta.author.name and page.meta.author.url %}
        <meta name="author" content="{"name": "{{ page.meta.author.name }}", "url": "{{ page.meta.author.url }}"}" />
      {% elif page.meta and page.meta.author and page.meta.author.name and page.meta.author.email %}
        <meta name="author" content="{"email": "{{ page.meta.author.email }}", "name": "{{ page.meta.author.name }}"}" />
      {% elif page.meta and page.meta.author and page.meta.author.name %}
        <meta name="author" content="{"name": "{{ page.meta.author.name }}"}" />
      {% elif config.extra.site_author.name and config.extra.site_author.url and config.extra.site_author.email %}
        <meta name="author" content="{"email": "{{ config.extra.site_author.email }}", "name": "{{ config.extra.site_author.name }}", "url": "{{ config.extra.site_author.url }}"}" />
      {% elif config.extra.site_author.name and config.extra.site_author.url %}
        <meta name="author" content="{"name": "{{ config.extra.site_author.name }}", "url": "{{ config.extra.site_author.url }}"}" />
      {% elif config.extra.site_author.name  and config.extra.site_author.email %}
        <meta name="author" content="{"email": "{{ config.extra.site_author.email }}", "name": "{{ config.extra.site_author.name }}"}" />
      {% elif config.extra.site_author.name %}
        <meta name="author" content="{"name": "{{ config.extra.site_author.name }}"}" />
      {% endif %}
      {% if config.extra.site_publisher.name %}
        <meta name="publisher" content="{{ config.extra.site_publisher.name }}" />
      {% endif %}
      {% if page.meta and page.meta.lastmod %}
        <meta name="date" content="{{ page.meta.lastmod }}T12:00:00+02:00" />
      {% elif page.meta and page.meta.date %}
        <meta name="date" content="{{ page.meta.date }}T12:00:00+02:00" />
      {% else %}
{#-
        <meta name="date" content="{{ build_date_utc.date() }}T12:00:00+02:00" />
-#}
      {% endif %}
        <link rel="license" href="{{ config.extra.site_license.url | url }}" />
      {% if page.canonical_url %}
        <link rel="canonical" href="{{ page.canonical_url }}" />
      {% endif %}
      {% if page.previous_page %}
        <link rel="prev" href="{{ page.previous_page.url | url }}" />
      {% endif %}
      {% if page.next_page %}
        <link rel="next" href="{{ page.next_page.url | url }}" />
      {% endif %}
      {% if page.meta and page.meta.author and page.meta.author.url %}
        <link rel="me" href="{{ page.meta.author.url }}" />
      {% elif config.extra.site_author.url %}
        <link rel="me" href="{{ config.extra.site_author.url }}" />
      {% endif %}
        <link rel="copyright" href="/about/copyright/" />
        <link rel="icon" href="/assets/favicons/favicon.svg" type="image/svg+xml" />
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png" />
        <link rel="icon" type="image/vnd.microsoft.icon" href="/assets/favicons/favicon.ico" />
        <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#ff00a8" />
        <link rel="manifest" href="/assets/favicons/manifest.json" type="application/manifest+json" />
        <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff" />
        <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#0b0013" />
        <meta property="article:content_tier" content="free" />
        <meta property="article:opinion" content="false" />
        <meta name="generator" content="{{ generator }}">
      {% if config.extra.alternate is iterable %}
        {% for alt in config.extra.alternate %}
          <link rel="alternate" href="{{ alt.link | url }}" hreflang="{{ alt.lang | d(lang.t('language')) }}">
        {% endfor %}
      {% endif %}
{% endblock %}


{% block htmltitle %}
      {% if page.meta and page.meta.title %}
        <title>{{ page.meta.title }} - {{ config.site_name }}</title>
      {% elif page.title and not page.is_homepage %}
        <title>{{ page.title | striptags }} - {{ config.site_name }}</title>
      {% else %}
        <title>{{ config.site_name }}</title>
      {% endif %}
{% endblock %}


{% block styles %}
      {% if config.theme.variant == "modern" %}
        {% set href = 'assets/stylesheets/modern/main.1e989742.min.css' | url %}
      {% else %}
        {% set href = 'assets/stylesheets/classic/main.d9d44b50.min.css' | url %}
      {% endif %}
        <link rel="preload" as="style" href="{{ href }}" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ href }}" /></noscript>
      {% if config.theme.palette %}
        {% if config.theme.variant == "modern" %}
          {% set href = 'assets/stylesheets/modern/palette.dfe2e883.min.css' | url %}
        {% else %}
          {% set href = 'assets/stylesheets/classic/palette.7dc9a0ad.min.css' | url %}
        {% endif %}
        <link rel="preload" as="style" href="{{ href }}" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ href }}" /></noscript>
      {% endif %}
      {% include "partials/icons.html" %}
      {% for path in config.extra_css %}
        <link rel="preload" as="style" href="{{ path | url }}" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ path | url }}" /></noscript>
      {% endfor %}
{% endblock %}


{% block fonts %}
      {% if config.theme.font != false %}
        {% set text = config.theme.font.text | d("Roboto Flex", true) %}
        {% set code = config.theme.font.code | d("Roboto Mono", true) %}
        <link rel="preload" as="style" type="text/css" href="https://fonts.googleapis.com/css2?family={{
          text | replace(' ', '+') + ':opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&' +
          code | replace(' ', '+') + ':ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&'
        }}display=swap" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" />
        <noscript>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family={{
          text | replace(' ', '+') + ':opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&' +
          code | replace(' ', '+') + ':ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&'
        }}display=swap" crossorigin="anonymous" />
        </noscript>
        <style>
          :root {
            --md-text-font: '{{ text }}';
            --md-code-font: '{{ code }}';
          }
        </style>
      {% endif %}
{% endblock %}


{% block extrahead %}
      {% if page.meta %}
        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "TechArticle",
            "@id": "{{ page.canonical_url }}",
            "url": "{{ page.canonical_url }}",
            "name": "{{ config.site_name }}",
            {% if page.meta and page.meta.title %}
            "headline": "{{ page.meta.title }}",
            {% elif page.title and not page.is_homepage %}
            "headline": "{{ page.title | striptags }}",
            {% else %}
            "headline": "{{ config.site_name }}",
            {% endif %}
            "inLanguage": "{{ lang.t('language') }}",
            "author": {
              "@type": "Person",
            {% if page.meta.author and page.meta.author.name and page.meta.author.url %}
              "name": "{{ page.meta.author.name }}",
              "url": "{{ page.meta.author.url }}"
            {% elif page.meta.author and page.meta.author.name %}
              "name": "{{ page.meta.author.name }}"
            {% elif config.extra.site_author.name and config.extra.site_author.url %}
              "name": "{{ config.extra.site_author.name }}",
              "url": "{{ config.extra.site_author.url }}"
            {% elif config.extra.site_author.name %}
              "name": "{{ config.extra.site_author.name }}"
            {% endif %}
            },
            {% if config.extra.site_publisher.name and config.extra.site_publisher.url %}
            "publisher": {
              "@type": "Organization",
              "name": "{{ config.extra.site_publisher.name }}",
              "url": "{{ config.extra.site_publisher.url }}",
              "logo": {
                "@type": "ImageObject",
                "url": "{{ config.site_url + config.theme.icon.logo + '.svg' }}"
              }
            },
            {% endif %}
            {% if page.meta and page.meta.date %}
            "datePublished": "{{ page.meta.date }}T12:00:00+02:00",
            {% else %}
{#-
            "datePublished": "{{ build_date_utc.date() }}T12:00:00+02:00",
-#}
            {% endif %}
            {% if page.meta and page.meta.lastmod %}
            "dateModified": "{{ page.meta.lastmod }}T12:00:00+02:00",
            {% else %}
{#-
            "dateModified": "{{ build_date_utc.date() }}T12:00:00+02:00",
-#}
            {% endif %}
            {% if page.meta and page.meta.license and page.meta.license.url %}
            "license": "{{ page.meta.license.url }}",
            {% elif config.extra.site_license.url %}
            "license": "{{ config.extra.site_license.url }}",
            {% endif %}
            "image": "{{ config.site_url + config.theme.icon.logo + '.svg' }}"
          }
        </script>
      {% endif %}
{% endblock %}


{% block scripts %}
        <script defer="defer" src="{{ 'assets/javascripts/bundle.5fcf0de6.min.js' | url }}"></script>
        {% for script in config.extra_javascript %}
        {% if script.path %}
        {{ script | script_tag }}
        {% else %}
        <script defer="defer" src="{{ script | url }}"></script>
        {% endif %}
        {% endfor %}
{% endblock %}
