[client]
port                            = 3306
socket                          = /tmp/mysql.sock

[mysqld]
user                            = mysql
port                            = 3306
socket                          = /tmp/mysql.sock
bind_address                    = 127.0.0.1,::1

basedir                         = /usr/local
datadir                         = /var/db/mysql
tmpdir                          = /var/db/mysql_tmpdir
replica-load-tmpdir             = /var/db/mysql_tmpdir
secure_file_priv                = /var/db/mysql_secure

default_password_lifetime       = 0
explicit-defaults-for-timestamp = 1

log_bin                         = mysql-bin
server_id                       = 1
sync_binlog                     = 1
binlog_cache_size               = 256K
binlog_expire_logs_seconds      = 604800
binlog_stmt_cache_size          = 256K

log_output                      = FILE
slow_query_log                  = OFF
slow_query_log_file             = slow-query.log
long_query_time                 = 0.05
# log_queries_not_using_indexes   = ON

max_connections                 = 101
net_retry_count                 = 16384
open_files_limit                = 32768
table_open_cache                = 8192
table_definition_cache          = 4096

key_buffer_size                 = 256M
join_buffer_size                = 512K
sort_buffer_size                = 2M
read_buffer_size                = 256K
read_rnd_buffer_size            = 512K
max_heap_table_size             = 256M
tmp_table_size                  = 256M

innodb_thread_concurrency       = 8
innodb_buffer_pool_size         = 2G
innodb_buffer_pool_instances    = 2
innodb_data_home_dir            = /var/db/mysql
innodb_log_group_home_dir       = /var/db/mysql
innodb_data_file_path           = ibdata1:1G;ibdata2:1G;ibdata3:128M:autoextend
innodb_temp_data_file_path      = ibtmp1:128M:autoextend
innodb_flush_method             = O_DIRECT
innodb_redo_log_capacity        = 512M
innodb_sort_buffer_size         = 2M
# innodb_force_recovery           = 1

lower_case_table_names          = 1

# myisam_recover_options          = FORCE,BACKUP

# relay_log_recovery              = ON
# sync_relay_log                  = 1
# enforce_gtid_consistency        = ON
# gtid_mode                       = ON

mysqlx                          = OFF
mysqlx_port                     = 33060
mysqlx_socket                   = /tmp/mysqlx.sock
mysqlx_bind_address             = 127.0.0.1,::1