[client]
port                            = 3306
socket                          = /tmp/mysql.sock

[mysqld]
user                            = mysql
port                            = 3306
socket                          = /tmp/mysql.sock
bind_address                    = 127.0.0.1,::1
basedir                         = /usr/local
datadir                         = /data/db/mysql
tmpdir                          = /data/db/mysql_tmpdir
secure_file_priv                = /data/db/mysql_secure
log_bin                         = mysql-bin
log_output                      = TABLE,FILE
relay_log_recovery              = ON
slow_query_log                  = OFF
slow_query_log_file             = slow-query.log
server_id                       = 1
sync_binlog                     = 1
sync_relay_log                  = 1
binlog_cache_size               = 256K
binlog_stmt_cache_size          = 256K
enforce_gtid_consistency        = ON
gtid_mode                       = ON
max_connections                 = 101
safe_user_create                = ON
lower_case_table_names          = 1
myisam_recover_options          = FORCE,BACKUP
net_retry_count                 = 16384
open_files_limit                = 32768
table_open_cache                = 8192
table_definition_cache          = 4096
join_buffer_size                = 512K
sort_buffer_size                = 2048K
read_buffer_size                = 256K
read_rnd_buffer_size            = 512K
max_heap_table_size             = 256M
tmp_table_size                  = 256M
long_query_time                 = 0.05
innodb_thread_concurrency       = 8
innodb_buffer_pool_size         = 2G
innodb_buffer_pool_instances    = 2
innodb_data_home_dir            = /data/db/mysql
innodb_log_group_home_dir       = /data/db/mysql
innodb_data_file_path           = ibdata1:1G;ibdata2:1G;ibdata3:128M:autoextend
innodb_temp_data_file_path      = ibtmp1:128M:autoextend
innodb_flush_method             = O_DIRECT
innodb_log_file_size            = 256M
innodb_sort_buffer_size         = 2048K
#innodb_force_recovery           = 1
#log_queries_not_using_indexes   = ON
skip_name_resolve               = ON

mysqlx                          = OFF
mysqlx_port                     = 33060
mysqlx_socket                   = /tmp/mysqlx.sock
mysqlx_bind_address             = 127.0.0.1,::1
