Port 22

PermitRootLogin prohibit-password

PubkeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no
KbdInteractiveAuthentication no
UsePAM yes

AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
PermitTunnel no
PermitUserEnvironment no
UseBlacklist no

ClientAliveInterval 60
ClientAliveCountMax 3

PidFile /var/run/sshd.pid

VersionAddendum none

Subsystem sftp internal-sftp -u 0027

AllowGroups wheel admin sshusers sftponly

# Root bleibt ohne Passwort, aber ohne globales Chroot
Match User root
    PasswordAuthentication no

# Admin- und Shell-Benutzer ohne Passwort-Login
Match Group admin,sshusers
    PasswordAuthentication no

# Reine SFTP-Konten
Match Group sftponly
    ChrootDirectory /home
    ForceCommand internal-sftp -u 0027 -d /%u
    PasswordAuthentication yes
    KbdInteractiveAuthentication no
    PermitTTY no
    DisableForwarding yes